html,
body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
html #main,
body #main {
  width: 100%;
  height: 100%;
}
.editor {
  padding: 0 0.5rem;
  height: 100%;
}
.editor > .line {
  white-space: nowrap;
  border: 1px solid transparent;
}
.editor > .line:hover {
  cursor: pointer;
}
.editor > .line .lineNumber {
  width: 3rem;
  text-align: right;
  border-right: 1px solid;
  display: inline-block;
  padding-right: 1rem;
  font-family: monospace;
}
.editor > .line .code {
  padding-left: 1rem;
}
.editor > .line .code pre {
  display: inline-block;
  margin: 0;
  font-family: monospace;
}
.editor > .comment-prompt {
  margin: 0.5rem 1rem;
  box-sizing: content-box;
}
.editor > .comment-prompt textarea {
  width: 100%;
  white-space: nowrap;
  resize: vertical;
}
.editor > .comment {
  border: 1px solid;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  font-size: 12px;
}
.editor > .comment p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.editor > .comment p em {
  font-style: italic;
}
.editor > .comment p strong {
  font-weight: bold;
}
