.editor {
  width: 100%;
  height: 100%;
}
.editor > .line {
  white-space: nowrap;
}
.editor > .line:hover {
  cursor: pointer;
  border: 1px solid;
  margin: -1px;
}
.editor > .line .lineNumber {
  width: 3rem;
  text-align: right;
  border-right: 1px solid;
  display: inline-block;
  padding-right: 1rem;
}
.editor > .line .code {
  padding-left: 1rem;
}
.editor > .line .code pre {
  display: inline-block;
  margin: 0;
  font-family: monospace;
}
.editor > .comment {
  padding: 0.5rem 1rem;
}
.editor > .comment p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.editor > .comment p em {
  font-style: italic;
}
.editor > .comment p strong {
  font-weight: bold;
}
